{:kotoba.app/id "cloud.itonami.isic-3314", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiacavi5co4tw6k7wachcnawlhl22pgngo35fiql2pgqqwm7va7e6e", :kotoba.app/embed-url "ipfs://bafkreiacavi5co4tw6k7wachcnawlhl22pgngo35fiql2pgqqwm7va7e6e", :published {:archive "https://kotobase.net/ipfs/bafkreiacavi5co4tw6k7wachcnawlhl22pgngo35fiql2pgqqwm7va7e6e", :size 72164, :put-status 201, :get-status 200, :at "2026-08-15T13:48:17.828Z"}}
